<!--
 * @Author: 一根鱼骨棒 Email 775639471@qq.com
 * @Date: 2025-02-02 16:03:37
 * @LastEditTime: 2025-02-26 22:57:01
 * @LastEditors: 一根鱼骨棒
 * @Description: 本开源代码使用GPL 3.0协议
 * Software: VScode
 * Copyright 2025 迷舍
-->
{% extends "client/base.html" %}
{% block title %}商店{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}?v={{ range(1, 999999) | random }}" />
{% endblock %}

{% block content %}
<div class="game-container">
    <!-- 左侧面板：积分信息和背包 -->
    <div class="side-panel panel-base">
        <!-- 积分信息 -->
        <div class="points-section">
            <h2 class="panel-title">
                <i class="layui-icon layui-icon-diamond"></i>
                积分信息
                <span class="title-decoration"></span>
            </h2>
            <div class="points-container">
                <div class="points-balance">
                    <img src="/static/img/points.png" alt="积分">
                    <span>当前积分: </span>
                    <span id="userPoints" class="points-number">0</span>
                </div>
            </div>
        </div>
        
        <!-- 背包系统 -->
        <div class="inventory-section">
            <h2 class="panel-title">
                <i class="layui-icon layui-icon-tabs"></i>
                我的背包
                <span class="title-decoration"></span>
            </h2>
            <div class="inventory-container" id="playerInventory">
                <!-- 背包物品将通过JS动态生成 -->
            </div>
        </div>
    </div>

    <!-- 商品展示区 -->
    <div class="main-content panel-base">
        <h2 class="panel-title">
            <i class="layui-icon layui-icon-cart"></i>
            商品列表
            <span class="title-decoration"></span>
        </h2>
        
        <!-- 筛选工具栏 -->
        <div class="shop-filter">
            <button class="layui-btn layui-btn-primary" data-sort="price" data-order="asc">价格从低到高</button>
            <button class="layui-btn layui-btn-primary" data-sort="price" data-order="desc">价格从高到低</button>
            <button class="layui-btn layui-btn-primary" data-sort="online_time" data-order="desc">最新上架</button>
            <button class="layui-btn layui-btn-primary" data-sort="offline_time" data-order="asc">即将下架</button>
            <button class="layui-btn layui-btn-primary" data-sort="product_type" data-order="asc">商品类型</button>
        </div>

        <!-- 商品列表 -->
        <div class="shop-items" id="shopItems">
            <!-- 商品卡片将通过JS动态生成 -->
        </div>
    </div>
</div>

<!-- 商品详情模态框 -->
<div id="itemDetailModal" style="display: none;">
    <div class="item-detail-content">
        <div class="item-image">
            <img src="" alt="商品图片" id="modalItemImage">
        </div>
        <div class="item-info">
            <h3 id="modalItemName"></h3>
            <p id="modalItemDescription"></p>
            <div class="item-meta">
                <div class="item-price">
                    <img src="/static/img/points.png" alt="积分">
                    <span id="modalItemPrice"></span>
                </div>
                <div class="item-date" id="modalItemDate"></div>
            </div>
            <div class="item-stock">库存: <span id="modalItemStock"></span></div>
            <div class="item-quantity">
                <span>数量:</span>
                <div class="quantity-control">
                    <button class="layui-btn layui-btn-primary layui-btn-sm" id="decreaseQty">-</button>
                    <input type="number" id="itemQuantity" value="1" min="1">
                    <button class="layui-btn layui-btn-primary layui-btn-sm" id="increaseQty">+</button>
                </div>
            </div>
            <button class="layui-btn layui-btn-normal layui-btn-fluid" id="purchaseBtn">立即购买</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/shop.js') }}?v={{ range(1, 999999) | random }}"></script>
{% endblock %}
