<!--
 * @Author: 一根鱼骨棒 Email 775639471@qq.com
 * @Date: 2025-01-13 23:30:20
 * @LastEditTime: 2025-03-17 14:29:17
 * @LastEditors: 一根鱼骨棒
 * @Description: 本开源代码使用GPL 3.0协议
 * Software: VScode
 * Copyright 2025 迷舍
-->
<!DOCTYPE html>
<html>
  <head>
    <title>任务管理</title>
    <!-- 公共CSS -->
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/admin/admin.css" />
    <link rel="stylesheet" href="/static/css/admin/task_manage.css" />
    <!-- 公共JS -->
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/crypto-js.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script type="module" src="/static/js/admin/taskForm.js"></script>
  </head>
  <body>
    {% extends "admin/admin_base.html" %} {% block title %}管理{% endblock %} {% block header_title %}管理{% endblock %} {% block content %}

    <div class="task-manage-header">
      <h1>任务管理系统</h1>
      <div class="header-actions">
        <a href="/admin/" class="layui-btn layui-btn-primary"> <i class="layui-icon layui-icon-return"></i> 返回主页 </a>
        <button class="layui-btn" onclick="showTaskFormDialog()"><i class="layui-icon layui-icon-add-1"></i> 添加任务</button>
        <button class="layui-btn layui-btn-normal" onclick="showJsonDialog()"><i class="layui-icon layui-icon-code-circle"></i> 查看JSON</button>
      </div>
    </div>

    <div class="task-manage-content">
      <div class="task-tree-panel">
        <div class="tree-controls">
          <button class="layui-btn layui-btn-sm" onclick="zoomTree(1.2)">
            <i class="layui-icon layui-icon-add-1"></i>
          </button>
          <button class="layui-btn layui-btn-sm" onclick="zoomTree(0.8)">
            <i class="layui-icon layui-icon-reduce-circle"></i>
          </button>
          <button class="layui-btn layui-btn-sm" onclick="resetTreeZoom()">
            <i class="layui-icon layui-icon-refresh"></i>
          </button>
        </div>
        <div id="taskTree"></div>
      </div>
    </div>

    <!-- 隐藏的 JSON textarea -->
    <textarea id="taskJson" class="layui-textarea" style="display: none" readonly></textarea>
    <script type="module" src="/static/js/admin/task_manage.js"></script>
    {% endblock %}
  </body>
</html>
