<!--
 * @Author: 一根鱼骨棒 Email 775639471@qq.com
 * @Date: 2025-02-02 16:36:21
 * @LastEditTime: 2025-03-04 11:11:59
 * @LastEditors: 一根鱼骨棒
 * @Description: 本开源代码使用GPL 3.0协议
 * Software: VScode
 * Copyright 2025 迷舍
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- 缓存控制 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- <meta http-equiv="Expires" content="0" /> -->

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />

    <!-- CSS引入 -->
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/client/index.min.css?v=1.0.2" id="mainStyle" />

    <!-- jQuery必须最先引入 -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- 高德地图配置 -->
    <script type="text/javascript">
      fetch("/api/amap/security-config")
        .then((response) => response.json())
        .then((data) => {
          window._AMapSecurityConfig = {
            securityJsCode: data.securityJsCode,
          };
        });
    </script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=16de1da59d44d6967f9a6bf5248963c5&plugin=AMap.Scale,AMap.ToolBar"></script>
    <script src="https://webapi.amap.com/ui/1.1/main.js"></script>
  </head>
  <body>
    <!-- 动态背景 -->
    <canvas id="bg-star"></canvas>
    <div class="bg-box">
      <div class="map">
        <div class="map1"><img src="/static/img/lbx.png" /></div>
        <div class="map2"><img src="/static/img/jt.png" /></div>
        <div class="map3"><img src="/static/img/map.png" /></div>
      </div>
    </div>

    <!-- 应用容器 -->
    <div class="game-container">
        {% include 'client/home.html' %}
    </div>

    <!-- Socket.IO客户端库必须最先引入 -->
    <script src="/static/js/socket.io.js"></script>

    <!-- 其他JS库 -->
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/swiper-bundle.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/echarts-wordcloud.min.js"></script>
    <script src="/static/js/echarts-extension-amap.min.js"></script>

    <!-- Live2D相关 -->
    <script src="/static/js/live2d/live2d.min.js"></script>
    <script src="/static/js/live2d/live2dcubismcore.min.js"></script>
    <script src="/static/js/live2d/pixi.min.js"></script>
    <script src="/static/js/live2d/index.min.js"></script>

    <!-- 主程序入口 -->
    <script type="module" src="/static/js/client/game.js"></script>
    <!-- 背景JS 移动端不加载-->
    <!-- <script src="/static/js/bg.js"></script> -->

    <footer>
      
      <p><img class="logo" src="/static/img/logo01.png"><a href="https://beian.mps.gov.cn/#/query/webSearch?code=51019002007781" rel="noreferrer" target="_blank" id="mps"></a></p>
      <p><a href="https://beian.miit.gov.cn" target="_blank" id="icp"></a></p>
      <div class="websocket-status">
        <span class="status-dot"></span>
        <span class="status-text">WebSocket连接中...</span>
      </div>
    </footer>
    <script>
      // 生成随机版本号
      document.getElementById("mainStyle").href = "/static/css/client/index.min.css?v=" + Math.random();
    </script>
  </body>
</html>
